<!DOCTYPE html>
<html>

   <head>
      <title>File Metadata Microservice Challenge | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>File Metadata Microservice</h1>
    <h3>Submit a file to see its size in bytes:</h3>
    <form method="POST" action="/get-file-size" enctype="multipart/form-data">
      <label>
        Pick a file:
        <input type="file" name="file">
        <button>Submit</button>
      </label>
     </form>
   </body>

</html>

